*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-theme: #121212;
    --font-color: #fff;
    --active-icon-color: green;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    color: var(--font-color);
}

svg{
    fill: var(--font-color);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-title{
    text-align: center;
    font-size: 1.4rem;
}

.music-player{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-inline: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 10%;
    background: rgb(80,64,64);
    background: linear-gradient(180deg, rgba(80,64,64,1) 0%, rgba(0,0,0,1) 69%, rgba(0,0,0,0.9416141456582633) 100%);;
}

.control-panel{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.music-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.album-cover{
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover img{
    width: 100%;
    border-radius: 100%;
    border: 1px solid #383838;
}

.album-cover::before{
    content: '';
    position: absolute;
    background-color: #5e5e5e;
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.album-cover::after{
    content: '';
    position: absolute;
    background-color: var(--background-theme);
    width: 8rem;
    height: 4rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-top: -4rem;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
	animation: rotate-center 5s linear infinite;
}

.control-btn{
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.play-btn{
    background-color: #fff;
}

.music-name{
    margin-bottom: 0.5rem;
}

.speed-rate{
    z-index: 1;
    position: absolute;
    background: rgb(18,18,18);
    background: linear-gradient(24deg, rgba(18,18,18,1) 0%, rgba(94,94,94,1) 100%);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.panel-volume{
    position: absolute;
    background: rgba(36, 36, 36, 0.642);
    height: 19rem;
    width: 3.8rem;
    left: -0.7rem;
    bottom: -0.8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

input[type="range"] {
    transform: rotate(-90deg);
    accent-color: rgb(26, 128, 0);
}

.inactive{
    visibility: hidden;
}

.icon-active{
    fill: var(--active-icon-color);
}

.progress-bar{
    background-color: #4d4d4d;
    height: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress-line{
    height: 2rem;
    width: 50%;
    background-color: aqua;
}

.progress-time{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}