*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-theme: #121212;
    --font-color: #fff;
    --active-icon-color: rgb(212, 255, 0);
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    color: var(--font-color);
    background: #121212;
    background: linear-gradient(180deg, var(--active-icon-color) 0%, #121212 60%, #121212 100%);
    user-select: none;
}

svg{
    fill: var(--font-color);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-title{
    text-align: center;
    font-size: 1.4rem;
}

.music-player{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-width: 60rem;
    margin-inline: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(2vw + 3rem);
}

.control-panel{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.control-btn{
    width: 9%;
    font-size: 2.5rem;
}

/* play button */
.control-panel button:nth-child(4){
    border-radius: 50%;
    background-color: white;
    width: 17%;
    aspect-ratio: 1;
    max-width: 6rem;

}

.control-panel button:nth-child(4) svg{
    fill: #000;
}

.music-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.album-cover{
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear;
}

.album-cover img{
    width: 100%;
    border-radius: 100%;
    border: 1px solid #383838;
}

.album-cover::before{
    content: '';
    position: absolute;
    background-color: #5e5e5e;
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 100%;
}

.album-cover::after{
    content: '';
    position: absolute;
    background-color: var(--background-theme);
    width: 8rem;
    height: 4rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    margin-top: -4rem;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
	animation: rotate-center 150s linear infinite;
}

.control-btn{
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.play-btn{
    background-color: #fff;
}

.music-name{
    margin-bottom: 0.5rem;
}

.artist-names{
    margin-bottom: 0.5rem;
}

.speed-rate{
    z-index: 1;
    position: absolute;
    background: rgb(18,18,18);
    background: linear-gradient(24deg, rgba(18,18,18,1) 0%, rgba(94,94,94,1) 100%);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.volume-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
}

.volume-container > button{
    width: 100%;
}

.volume-panel {
    position: absolute;
    top: 0.2rem;
    left: calc(45% - 1.5rem);
    padding: 1.4rem 1.6rem;
    border-radius: 3rem;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    accent-color: var(--active-icon-color);
    background-color: #202020cb;
    width: 15rem;
}

.inactive{
    visibility: hidden;
}

.icon-active{
    fill: var(--active-icon-color);
}

.progress-time{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .music-player{
        padding: 4rem;
    }
}

.loading-container {
    position: absolute;
    background-color: #4d4d4d;
    width: 19%;
    aspect-ratio: 1;
    max-width: 6.7rem;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.loading{
    visibility: visible;
    animation: rotate-loading 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes rotate-loading {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.loading-container > div{
    background-color: var(--active-icon-color);
    width: 50%;
    aspect-ratio: 1;
    border-top-left-radius: 100%;
}

.active-loading{
    visibility: visible;
}

/* input range */
.progress-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.progress-bar{
    background-color: #4d4d4d;
    height: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    min-width: 4rem;
}

.progress-line{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 100%;
    background-color: var(--active-icon-color);
}

.progress-bar-circle{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    right: calc(100% - 0.75rem);
    cursor: pointer;
    pointer-events: none;
    touch-action: none;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}

.progress-section{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.eoo{
    background-color: red;
    cursor: pointer;
}